{% extends "base.html" %}

{% block title %} Search ad {% endblock %}

{% block page_title %} Search it {% endblock page_title %}

{% block content %}
    {% for ad in ads %}
        {% comment %}<a class="ad_link" href="{% url 'ad:view' ad.id %}">{{ ad.subject }}</a>{% endcomment %}
        <div class="ad-single">
            <a class="img" href="{% url 'ad:view' ad.id %}">
                <img src="{{ SUSHI_PUBLIC_URL }}{{ ad.image_fid }}" alt="title"/>
            </a>
            <br />
            <a class="desc-ad" href="{% url 'ad:view' ad.id %}">{{ ad.subject }}</a>
            <br />
            <div class="location-categ">
                Category name
                <span>
                    <a class="location sprite" href="#">&nbsp;</a>
                </span>
            </div>
        </div>
    {% endfor %}
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script>
$(function(){

    $('#content').masonry({
      itemSelector: '.ad-single',
      columnWidth: 0,
      isAnimated: true
    });

  });
     var $container = $('#content');
$container.imagesLoaded(function(){
  $container.masonry({
        itemSelector : '.ad-single',
        columnWidth : 0,
        gutterWidth: 0
  });
});
</script>
{% endblock content %}

{% block extra_js %}
<!--http://webpjs.appspot.com/-->
<script>(function(){var WebP=new Image();WebP.onload=WebP.onerror=function(){
if(WebP.height!=2){var sc=document.createElement('script');sc.type='text/javascript';sc.async=true;
var s=document.getElementsByTagName('script')[0];sc.src='{{ SUSHI_PUBLIC_URL }}js/webpjs-0.0.2.min.js';s.parentNode.insertBefore(sc,s);}};
WebP.src='data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA';})();</script>
{% endblock extra_js %}
