{% extends "base.html" %}

{% block title %} Search ad {% endblock %}

{% block page_title %} Search it {% endblock page_title %}

{% block content %}
    {% for ad in ads %}
        <div class="ad-single">
            <a class="img" href="{% url 'ad:view' ad.id %}">
                <img src="{{ SUSHI_PUBLIC_URL }}{{ ad.image_fid }}" alt="{{ ad.subject }}"/>
            </a>
            <div class="desc-price">
	      <a href="{% url 'ad:view' ad.id %}">{{ ad.subject }}</a>
	      <span> &#36;{{ ad.price }}</span>
            </div>
        </div>
    {% endfor %}
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script>
jQuery(function(){

    jQuery('#content').masonry({
      itemSelector: '.ad-single',
columnWidth:1
      
    });
    
  });
     var $container = $('#content');
$container.imagesLoaded(function(){
  $container.masonry({
        itemSelector : '.ad-single',
        columnWidth : 1,
        gutterWidth: 0
  });
});
</script>
<!--http://webpjs.appspot.com/-->
<script type="text/javascript" src="{{ STATIC_URL }}/js/webpjs-0.0.2.min.js"></script>
<script>(function(){var WebP=new Image();WebP.onload=WebP.onerror=function(){
if(WebP.height!=2){var sc=document.createElement('script');sc.type='text/javascript';sc.async=true;
var s=document.getElementsByTagName('script')[0];sc.src='{{ SUSHI_PUBLIC_URL }}js/webpjs-0.0.2.min.js';s.parentNode.insertBefore(sc,s);}};
WebP.src='data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA';})();</script>

{% endblock content %}

