@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */
@media only screen and (max-width: 529px) {
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	padding-left: 4px;
	padding-right: 4px;
}
.search2 > form,.nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}
#header {
clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height:62px !important;}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.nav-icon.sprite > span{display:none;}
.ad-single{    width:31%;margin: 0 1% 15px !important;}
.logo span{display: none;}
.logo{width: 65px;}
.logo a{background: url(../img/logo.png) no-repeat 0px 12px; padding-bottom: 34px;}
.add-ad a span{display:none;}	
.add-ad a, .nav-icon,.search,.login-join a {height:62px;}
.login-join span {display:none;}


.content-left-div{
	width: 100%;
	}
.right-sidebar{
	margin-left: 0;
	width: 92%;
	padding:10px 4%;
	}
.img-ad{width:100%;}
.desc{width:100%;margin-left:0;}
.content-left li a span{display:none;}
.content-left li a{height: 17px;
padding-right: 15px;}
.ad-insert form, .ad-insert h1 {
width:100%;
margin: 0 auto;
}
.input-width input,  .input-width textarea{
	width:97%;
	}
.input-width select{
	width:100%;
	}
.search2 > form,.nav {width: 86%;
margin: 0 auto;
	}
.search-input{left: -98px;}
.add-ad a, .nav-icon,.search,.login-join a, .logo {height:62px;}
.search{background-position:16px -33px;}
.nav-icon{	background-position: 15px 24px;}
.login-join a	{background-position: -216px 21px;}
.add-ad a{background-position: 18px -84px;}
.add-ad a span,.nav-icon.sprite > span,.login-join span{
	margin-top:24px;
	}
.desc-price > a {
width: 100%;
margin-right:0%;
}
.desc-price span {
width: 100%;
}
.login form {
    width: 100%;
}
.ad-insert{
padding: 20px 8%;
    width: 84%}
.ad-insert input, .ad-insert textarea {
    width: 94%;
}
.ad-insert select{width:100%;}
.ad-insert select {padding:9px 3%;}
.ad-insert input,.ad-insert textarea {
    padding: 9px 3%;
}

}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 530px) {
.gridContainer {
	width: 96%;
	padding-left: 5px;
	padding-right: 5px;
	margin:0 auto;
}
.search2 > form, .nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 95%;
}
#header {
clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 62px;}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.ad-single{width: 30%;margin: 0 1% 15px;}
.logo span{display: none;}
.logo{width: 104px;}
.logo a{background: url(../img/logo.png) no-repeat 0px 12px; padding-bottom: 34px;}
.search{background-position:0 -51px;}
.add-ad a span{display:block;}
.content-left-div{
	width: 100%;
	}
.right-sidebar{
	margin-left: 0;
	width: 92%;
	padding:10px 4%;
	}
.img-ad{width:100%;}
.desc{width:100%;margin-left:0;}
.ad-insert form, .ad-insert h1 {
width:100%;
margin: 0 auto;
}
.input-width input,  .input-width textarea{
	width:315px;
	}
.input-width select{
	width:325px;
	}

.nav-icon.sprite > span{display:none;}
.add-ad a, .nav-icon,.search,.login-join a, .logo {height:62px;}
.search{background-position:16px -33px;}
.nav-icon{	background-position: 15px 24px;}
.login-join a	{background-position: -216px 22px;}
.add-ad a{background-position: 14px -84px;}
.add-ad a span,.nav-icon.sprite > span,.login-join span{
	margin-top:24px;
	}
.desc-price > a {
width: 100%;
margin-right:0%;
}
.desc-price span {
width: 100%;
}
.login form {
    width: 100%;
}
.ad-insert{
width: 88%;
padding: 20px 6%;}
.ad-insert input, .ad-insert textarea {
    width: 94%;
}
.ad-insert select{width:100%;}
.ad-insert select {padding:9px 3%;}
.ad-insert input,.ad-insert textarea {
    padding: 9px 3%;
}


}
@media only screen and (min-width: 785px)  {
.gridContainer {
	width: 732px;
	padding-left:5px;
	padding-right:5px;
	margin: auto;
}
.search2 > form, .nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 714px;
}
#header {
clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 40px;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.ad-single{    width: 231px;margin: 0 6.5px;}
.logo span{display: block;}	
.logo{width: 238px;}
.logo a{background: url(../img/logo.png) no-repeat 0px 0px; padding-bottom: 13px;}
.search{background-position:0 -51px;}
.add-ad a span{display:block;}
.content-left-div{
	width: 70%;
	}
.right-sidebar{
	float: right !important;
    margin-left: 0;
    width: 23%;
	padding:10px 2%;
	}
.img-ad{width:100%;}
.desc{width:100%;margin-left:0;}
.ad-insert form, .ad-insert h1 {
width: 100%;
margin: 0 auto;
}
.input-width input,  .input-width textarea{
	width:500px;
	}
.input-width select{
	width:510px;
	}
.nav-icon.sprite > span{display:block;}
.add-ad a, .nav-icon,.search,.login-join a, .logo {height:40px;}	
.search{background-position: 16px -43px;}
.nav-icon{background-position: 15px 13px;}
.login-join a	{background-position: -216px 12px;}
.add-ad a{background-position: 14px -97px;}
.add-ad a span,.nav-icon.sprite > span,.login-join span{
	margin-top:12px;
	}
.desc-price > a {
width:70%;
margin-right: 1%;
}
.desc-price span {
width: 29%;
}
.login form {
    width: 100%;
}
.ad-insert{
width: 88%;
padding: 20px 6%;}
.ad-insert input, .ad-insert textarea {
    width: 94%;
}
.ad-insert select{width:100.1%;}
.ad-insert select {padding:9px 1%;}
.ad-insert input,.ad-insert textarea {
    padding: 9px 3%;
}

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1000px)  {
	.gridContainer {
	width: 976px;
	padding-left: 0.96%;
	padding-right: 0.96%;
	margin: auto;
}
.search2 > form,.nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 970px;
}
#header {
clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 40px;}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.ad-single{    width: 231px;margin: 0 6.5px;}	
.logo span{display: block;}
.logo{width: 238px;}
.logo a{background: url(../img/logo.png) no-repeat 0px 0px; padding-bottom: 13px;}
.search{background-position:0 -51px;}
.add-ad a span{display:block;}
.content-left-div{
	width: 70%;
	}
.right-sidebar{
	float: right !important;
    margin-left: 0;
    width: 23%;
	padding:10px 2%;
	}
.img-ad{width:50%;}
.desc{width:47%;margin-left:3%;}
.content-left li{margin-right:3px !important;}
.ad-insert form, .ad-insert h1 {
width: 100%;
margin: 0 auto;
}
.input-width input,  .input-width textarea{
	width:500px;
	}
.input-width select{
	width:510px;
	}
.searchForm #s {
   padding: 11px 1%;
width: 98%;
}
.nav-icon.sprite > span{display:block;}
.add-ad a, .nav-icon,.search,.login-join a, .logo {height:40px;}	
.search{background-position: 16px -43px;}
.nav-icon{background-position: 15px 13px;}
.login-join a	{background-position: -216px 12px;}
.add-ad a{background-position: 14px -97px;}
.add-ad a span,.nav-icon.sprite > span,.login-join span{
	margin-top:12px;
	}
.desc-price > a {
width: 70%;
margin-right: 1%;
}
.desc-price span {
width: 29%;
}

.login form {
    width: 438px;
}
.ad-insert{
width:94%; padding:20px 3%;
}
.ad-insert input, .ad-insert textarea {
    width: 60%;
}
.ad-insert select{width:62.3%;}
.ad-insert select {padding:9px 1%;}
.ad-insert input,.ad-insert textarea {
    padding: 9px 1%;
}

	}
@media only screen and (min-width: 1367px) {
.gridContainer {

	width: 1315px;
	padding-left: 0.96%;
	padding-right: 0.96%;
	margin: auto;
}
.search2 > form,.nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 1300px;
}
#header {
clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.ad-single{    width: 250px;margin: 0 6.5px;}
.logo span{display: block;}
.logo{width: 250px;}
.logo a{background: url(../img/logo.png) no-repeat 0px 0px; padding-bottom: 13px;}
.search{background-position:0 -51px;}
.add-ad a span{display:block;}
.content-left-div{
	width: 70%;
	}
.right-sidebar{
	float: right !important;
    margin-left: 0;
    width: 23%;
	padding:10px 2%;
	}
.img-ad{width:55%;}
.desc{width:42%;margin-left:3%;}	
.ad-insert form, .ad-insert h1 {
width: 100%;
margin: 0 auto;
}
.input-width input,  .input-width textarea{
	width:500px;
	}
.input-width select{
	width:510px;
	}
.searchForm #s {
   padding: 11px 1%;
width: 98%;
}
	.nav-icon.sprite > span{display:block;}
.add-ad a, .nav-icon,.search,.login-join a, .logo {height:40px;}	
.search{background-position: 16px -43px;}
.nav-icon{background-position: 15px 13px;}
.login-join a	{background-position: -216px 12px;}
.add-ad a{background-position: 14px -97px;}
.add-ad a span,.nav-icon.sprite > span,.login-join span{
	margin-top:12px;
	}
.desc-price > a {
width: 70%;
margin-right: 1%;
}
.desc-price span {
width: 29%;
}

.login form {
    width: 449px;
}

.ad-insert{
width:94%;float:left; padding:20px 3%;
}
.ad-insert input, .ad-insert textarea {
    width: 54%;
}
.ad-insert select{width:56.1%;}
.ad-insert select {padding:9px 13px;}
.ad-insert input,.ad-insert textarea {
    padding: 9px 1%;
}



}

