{% extends "base.html" %}

{% block title %}Post Ad{% endblock %}

{% block page_title %} Sell it {% endblock page_title %}

{% block content %}
<div class="ad-insert">
<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    {{ form.as_p }}
	<p id="result">
		<ul id="coordinates">
			<li id="latitude"></li>
			<li id="longitude"></li>
		</ul>
	</p>
    <button type="submit">Sell it</button>
</form>
</div>
    Kenta = {{ form.user_email }}
<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Phone:</th> <td>{{ user.phone|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>
<div>
  <a rel="nofollow" class="logout" href="/auth/logout/">Logout</a>
</div>
{% endblock content %}

{% block extra_js %}
	<script src="{{ STATIC_URL }}js/geoPosition.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		if(geoPosition.init()){
			geoPosition.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true});
		}
		else{
			document.getElementById('result').innerHTML = '<span class="error">Functionality not available</span>';
		}

		function success_callback(p)
		{
			var latitude = parseFloat( p.coords.latitude ).toFixed(2);
			var longitude = parseFloat( p.coords.longitude ).toFixed(2);
			document.getElementById('latitude').innerHTML = '<span class="information">Latitude:</span>' + latitude;
            document.getElementById('id_latitude').value = latitude;
			document.getElementById('longitude').innerHTML = '<span class="information">Longitude:</span>' + longitude;
            document.getElementById('id_longitude').value = longitude;
			document.getElementById('coordinates').style.display = 'block';
		}

		function error_callback(p)
		{
			document.getElementById('result').innerHTML = '<span class="error">' + p.message + '</span>';
		}
	</script>
{% endblock extra_js %}
